<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta http-equiv="refresh" content="30">
    <title>Nano Backlog</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet"
        media="screen,projection" />
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet"
        media="screen,projection" />
</head>

<body>
    <div class="container">
        <br><br>
        <h1 class="header center green-text">Nano Backlog</h1>
        <div class="row center">
            Blocks per Second (Mean of past 60 min): {{ bps }}<br>
            Confirmations per Second (Mean of past 60 min): {{ cps }}<br>
            Current Backlog: {{ backlog }}<br><br>

            <h4>With the current rates, the backlog will be cleared in:</h4>
            <h1>
                {{ days }} days<br>
                {{ hours }} hours<br>
                {{ min }} min<br>
                {{ sec }} sec
            </h1>
            Please keep in mind that the cps and bps are constantly changing and the date can vary a lot.
            <br><br>
            {% if days == "0" %}
                <iframe src="https://giphy.com/embed/QMkPpxPDYY0fu" width="480" height="204" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            {% elif days == "1" or days == "2" %}
                <iframe src="https://giphy.com/embed/8vsXFLQclIk9pzy3NU" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            {% endif %}
            <br><br>
            <p>Data from <a href="https://nanoticker.info">nanoticker.info</a> </p>
            <p>Repository on <a href="https://github.com/JulianSchmidtke/NanoBacklog">GitHub</a></p>
            <p>
                Feel free to tip<br>
                nano_3fbjgita77m86bt1ctyuzjxm1u4zidson4oi75c3etaidox3n4dcmbf1teht
            </p>
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
</body>

</html>
